In [229]:
import requests
import pandas as pd


url = "https://www.emd-international.com/el/fetch2.php?location=WEST&graph=1&start=2023-10-4&m=0.9042978232096179"

JSON_DATA_PRICE_INDEX = 5

In [230]:
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()  # Parse the JSON response
    print("Data retrieved successfully")
    # print(data)
else:
    print(f"Request failed with status code {response.status_code}")

Data retrieved successfully

In [231]:
cols=['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'spot_pris', 'Column3']
df = pd.DataFrame(data)
df = df.transpose()
df = df.drop(columns=[6,8,9,10])
df.rename(columns={0: 'CentKraftvarmeprod', 1: 'DecentKraftvarmeprod',2: 'Vindmølleprod',3: 'Elforbrug',
                    4: 'Elspotpris',5: 'Nedreguleringspris',7: 'Date'}, inplace=True)

In [232]:
df["Date"] = df["Date"].astype(int)
df["Date"] = pd.to_datetime(df["Date"], unit='s')

In [233]:
df.head()

,CentKraftvarmeprod,DecentKraftvarmeprod,Vindmølleprod,Elforbrug,Elspotpris,Nedreguleringspris,Date
0,1.0,188.0,2939.0,2576.0,0.97,37.290001,2023-10-04 00:00:00
1,1.0,184.0,2969.0,2665.0,0.00,0.000000,2023-10-04 00:05:00
2,1.0,181.0,3063.0,2718.0,0.00,0.000000,2023-10-04 00:10:00
3,1.0,176.0,3049.0,2676.0,0.00,0.000000,2023-10-04 00:15:00
4,1.0,174.0,3010.0,2601.0,0.00,0.000000,2023-10-04 00:20:00